* {
    box-sizing: border-box;
}
.topnav {
    background-color: #b00010;
    list-style-type: none;
    margin-top: 0%;
    box-shadow: 5px 10px 8px #42433d;
    position: sticky;
    position: -webkit-sticky;
    top: 0%;
    z-index: 1;
}
.imgmaindua {
    margin-top: -800px;
}
.img {
    float: left;
    width: 12%;
    position: sticky;
    position: -webkit-sticky;
    top: 0%;
    z-index: 1;
}
.topnav a {
    display: inline;
    float: left;
    color: white;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    position: sticky;
    font-weight: bolder;
}
.topnav a:hover {
    background-color: salmon;
    border-bottom: 10px,solid,white;
    color: black;
}
body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.kolomkirisatu {
    width: 20%;
    float: left;
}
.kotak {
    background-color: gainsboro;
    padding: 4%;
    border-radius: 10px;
}
.imgsatu{
    padding: 7%;
    width: 100%;
}
.kolomkanansatu {
    width: 60%;
    float: left;
    padding-left: 10%;
}
.imgdua{
    padding: 7%;
    width: 50%;
    height: 50%;
    float: left;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.imgtiga {
    padding: 5%;
    width: 33.3%;
    float: left;
}
.galery {
    float: left;
    width: 33.33%;
    padding: 4%;
    display: inline;
}
.footdua {
    text-align: left;
    padding: 20px;
    background-color: #ebffff;
    color: blue;
}
.bebas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tulisan {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-shadow: 3px 3px #dcdcdc;
    font-weight: 1000;
}
.tulisanjudul {
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-shadow: 2px 2px #686868;
    font-weight: 1000;
}
.epen {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: 1000;
}
.gambar{
    max-width: 10%;
}
.kaper {
    transition: .5s ease;
}
.tex {
    color: black;
    font-size:xx-large;
}
.tengah {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.itam:hover .kaper {
    opacity: 0.3;
}
.itam:hover .tengah {
    opacity: 1;
}